body{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 20px;
}
svg{
    width: 20px;
    height: 20px;
}
img{
    width: 40px;
    height: 40px;
}
input {
    width:50dvw;
    height: 20px;
    border-radius: 200px;
    margin-left: 12px;
}
.container{
    display: grid;
    grid-template-columns: repeat(1, 0.25fr) repeat(1, 1fr);
    grid-template-rows: repeat(1, 0.01fr) repeat(1, 0.01fr);
}
.dashboard{
    background-color: rgb(97, 163, 71);
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 40px;
    color: brown;
    text-shadow: 1px 1px rgb(0, 0, 0);
    border-right-style:solid;
    border-color: black;
}
.dashboard > * svg {
    height: 50px;
    width: 50px;
}
#dashTitle{
    margin: 0px;
    margin-left: 12px;
}
.bucket{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.bucket > * svg{
    height: 40px;
    width: 40px;
}
.dashboardTitle{
    display: flex;
}
.dashList1 > *, .dashList2 > *{
    display: flex;
    margin-top: 40px;
}
.dashList1 > div > item, .dashList2 > div > item{
    margin-left: 12px;
}
.rightSide{
    background-color: rgba(236, 173, 173, 0);
}
.rightUpper{
    background-color: rgb(154, 236, 124);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 122px;
}
.rightUpperAbove{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.searchLogoButton, .userLogoName{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}
.userLogoName>*{
    padding-left: 12px;
}
.rightUpperDown{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 16px;
   padding-right: 16px;
}
#salute{
    font-size: 12px;
}
#nameUsername{
    font-weight: bold;
}
.userInfo{
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.saluteUsername{
    margin-left: 12px;
}
button{
    border-radius: 200px;
    background-color: rgb(97, 163, 71);
    color: white;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-shadow: 1px 1px black;
}
.rightLower{
    background-color: rgb(219, 186, 180);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 0.5fr);
    border-top-style: groove;
    border-color: brown;
}
.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 0.6fr);
    grid-template-rows: repeat(3, 0.3fr);
}
.projects > *{
    background-color: rgb(247, 236, 236);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin: 4px;
    margin-top: 25px;
    flex-wrap: wrap;
}
#Test{
    position: absolute;
    top: 96px;
    left: 385px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    background-color: rgba(151, 151, 146, 0.247);
    padding: 0px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text > h{
    font-weight: bold;
    font-size: 35px;
}
.text > p{
    font-size: 20px;
    margin: 10px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: right;
}
.announcements{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(247, 236, 236);
    border-radius: 20px;
    margin: 12px;
    padding: 8px;
    margin-top: 25px;
}
#Test2{
    position: absolute;
    top: 120px;
    right: 110px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    background-color: rgba(151, 151, 146, 0.247);
    padding: 0px;
    border-style: none;
}
.announcements > *{
    display: flex;
    flex-direction: column;
    border-top: 5px;
    border-top-style: ridge;
    padding-top: 4px ;
}
.announText > h{
    font-weight: bold;
}
.trending{
    background-color: rgb(247, 236, 236);
    border-radius: 20px;
    margin: 12px;
    padding: 8px;
    height: max-content;
}
.trending > *{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 18px;
    margin-left: 12px;
    margin-right: 8px;
    display: grid;
    grid-template-columns: 0.25fr 0.5fr;
    grid-template-rows: repeat(4, 0.001fr);
    justify-content: space-evenly;
}
#Test3{
    position: absolute;
    bottom: 354px;
    right: 146px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    background-color: rgba(151, 151, 146, 0.247);
    padding: 0px;
    border-radius: 250px;
    border-style: none;
}